<div class="title-container">
    <div class="container" style="text-align: center;margin:5%">
      <h1>Registro de Dietas</h1></div>
    <div class="container" style="text-align: center">
      <form [formGroup]="form" (submit)="insertar()" >

        <br />
          <!-- Código -->
          <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigod" readonly="true"/>
          </mat-form-field>
        <br />
          <!-- Text area- BIEN -->
          <mat-form-field class="example-full-width">
          <mat-label>Descripción de Dieta</mat-label>
          <textarea matInput placeholder="Ejem. Preparar un jugo verde todas las mañanas" formControlName="descriptiond"></textarea>
          </mat-form-field>

        <br />
          <!-- Input--BIEN -->
          <mat-form-field class="example-full-width">
          <mat-label>Duración de la dieta</mat-label>
          <input matInput placeholder="Ejem. 7 días" formControlName="durationd"/>
          </mat-form-field>

          <!--Boton de acción que se guarda la fecha
          <mat-form-field class="example-full-width">
          <mat-label>Comenzar dieta</mat-label>
          <input matInput type="date" formControlName="startd"   />
          </mat-form-field>

        <br />  -->


          <!-- Botón de acción para la fecha de la incidencia
          <mat-form-field class="example-full-width">
          <mat-label>Finalizar dieta</mat-label>
          <input matInput type="date" formControlName="finalizard"   />
          </mat-form-field> -->


        <br />
          <!-- Map option -->
          <mat-form-field class="example-full-width">
            <mat-label>Nombre de Enfermedad</mat-label>
            <mat-select formControlName="illnessd">
              <mat-option *ngFor="let i of listaEnfermedades" [value]="i.idIllness">
                {{i.nameIllness}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <br />
          <!-- Map option -->
          <mat-form-field class="example-full-width">
            <mat-label>Nombre del doctor</mat-label>
            <mat-select formControlName="userd">
              <mat-option *ngFor="let u of listarNombres" [value]="u.idUser">
                {{u.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <br />
        <div style="text-align: center;">
          <button mat-flat-button color="warn">Registrar</button>
        </div>
      </form>
    </div>
  </div>

